body {
    color: #ffffff;
    background-color: #000000;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    transition: background-color 0.5s, color 0.5s;
}
header{  
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #ffffff;
}
ul{
    list-style: none;
}
.meni{
    align-items: right;
    padding-left: 80px;
    display: none;
}
.meni.otvoren{
    display: block;
}
img {
    max-width: 8%;
    height: auto;
}
.slika{
    border-radius: 50px;
    margin-right: 200px;
    box-shadow: 0 0 5px #ffffff;
}
h1 {
    cursor: pointer;
}

body.crno{
    background-color: #ffffff;
    color: #000000;
}
.meni-dugme {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.meni-dugme img {
    width: 30px;
    height: 30px;
}